.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link[aria-expanded="true"]{
    color:yellow !important;
}

.acao{
    transition: all 0.2s ease;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.61);
}

.acao:hover{
    box-shadow: 0px 0px black;
}

#busca{
    transition: 0.2s ease;
    border: 0;
    padding-left: 30px;
    background-image: url("../assets/search-1.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left 5px center;
    border-bottom: solid 2px blue;
}

#busca:focus{
    transition: 0.2s ease;
    border: none;
    padding-left: 10px;
    background-position: right 5px center;
}

.home{
    background: transparent;
    border: none;
    border-radius: 50rem;
}

.home:hover{
    box-shadow: 0px 0px 10px white;
}

.adicionar:hover{
    transition: all 0.3s ease;
    box-shadow: 0px 0px 15px green;
    border-radius: 20px;
}

.active:hover{
    color: blue;
}

.formulario-login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formulario-login input{
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px;
}

.formulario-login span{
    position: absolute;
    left: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.formulario-login span:focus{
    color: aqua;
}

.mensagem{
    position: absolute;
    top: 20%;
    left: 40.5%;
    font-weight: bolder;
    font-size: 20pt;
}

.botoes{
    left: 100px;
    top: 94%;
}

.card-body button{
    transition: 0.2s ease;
    background-color: rgb(230, 230, 0);
    border: solid;
    border-radius: 90px;
    font-weight: bolder;
    height: 40px;
    width: 100px;
    box-shadow: 0px 5px rgb(54, 54, 52);
}

.fundo{
    width: 30%;
    height: 30%;
    background-color: rgb(46, 44, 44);
    border-radius: 30px;
}

.texto{
    font-size: 60pt;
    font-weight: bolder;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    border: none;
    border-radius: 30px;
    height: 400px;
    width: 300px;
}

/* .botao{
    transition: 0.2s ease;
    background-color: #FFD900;
    border: solid;
    border-radius: 90px;
    font-weight: bolder;
    height: 40px;
    width: 200px;
    box-shadow: 0px 5px black;
} */

.botao:hover{
    box-shadow: 0px 0px black;
}