/vSpring/autoagenda/data.mv.db
/vSpring/autoagenda/data.trace.db

/v2.0/email/src/main/resources/application.properties
/v3.0/autoagenda_v3/src/main/resources/application.properties

*.db

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
