<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Agenda</title>
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <link rel="stylesheet" href="../assets/css/estilo.css">
</head>
<body>
    <div id="barra"></div>

    <div class="container">
        <div class="grid gap-3">
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card dashboard" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Estoque Total</h5>
                        <p class="card-text text-center fw-bold" style="font-size: 50pt;">0</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <h3 class="mt-5">Agendamentos</h3>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="card dashboard" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Totais</h5>
                          <p class="card-text text-center fw-bold" style="font-size: 50pt;">0</p>
                        </div>
                    </div>
                </div>  

                <div class="col-md-4 ">
                    <div class="card dashboard" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Em Aberto</h5>
                          <p class="card-text text-center fw-bold" style="font-size: 50pt;">0</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="card dashboard" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Concluídos</h5>
                          <p class="card-text text-center fw-bold" style="font-size: 50pt;">0</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>