<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Agenda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/script.js"></script>
</head>
<body>
    <div id="barra"></div>

    <div class="container ms-4">
        <div class="grid gap-3">

            <div class="g-col-4 mt-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Estoque Total</h5>
                      <center><p class="card-text" style="font-weight: bold; font-size: 50pt;">0</p>
                    </div>
                </div>
            </div>

          </div>
    </div>
</body>
</html>