<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AutoAgenda</title>
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/sweetalert2.all.min.js"></script>	
	<script src="assets/js/validacao.js"></script>
	<script src="assets/js/script.js"></script>
	<link rel="stylesheet" href="assets/css/estilo.css">
</head>

<body>
    <div class="container">
        <div class="mensagem">
            <p>Faça seu login ou cadastre-se</p>
        </div>
        <div class="login">
            <img src="assets/img/logo.png">

			<form method="post" action="/funcionario-api/logar">
	            <div class="log-inputs">
	                <span>Usuário</span>
	                <div class="input-group mb-3">
	                    <input type="text" name="usuario" id="usuario" class="form-control">
	                </div>
	                <span>Senha</span>
	                <div class="input-group mb-3">
	                    <input type="password" name="senha" id="senha" class="form-control">
	                </div>
	
	                <div class="botoes">
	                    <button type="submit" class="btnLogin">Entrar</button>
	                    <button type="button" class="btnCadastro" onclick="window.location.href = '/cadastroSistema'">Cadastro</button>
	                </div>
	            </div>
			</form>
        </div>
    </div>
</body>

</html>